<!-- src/app/components/layout/layout.component.html -->
<header class="bg-gray-800 text-white p-4">
  <div class="container mx-auto">
    <h1>VCG Recordz</h1>
    <nav>
      <a routerLink="/" class="px-3">Home</a>
      <a routerLink="/about" class="px-3">About</a>
      <a routerLink="/contact" class="px-3">Contact</a>
    </nav>
  </div>
</header>
<main class="container mx-auto my-4">
  <router-outlet></router-outlet>
</main>
<footer class="bg-gray-800 text-white p-4">
  <div class="container mx-auto">
    <p>&copy; 2024 VCG Recordz</p>
  </div>
</footer>
