<h2 class="text-2xl font-semibold text-white sm:text-3xl text-center" i18n>
  We distribute these artists' music
</h2>

<section class="m-8">
  <div
    class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 bg-black rounded-xl"
  >
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
      <div>
        <div class="max-w-lg md:max-w-none">
          <h2 class="text-2xl font-semibold text-white sm:text-3xl" i18n>
            🖖 Kitsui & Køni
          </h2>

          <p class="mt-4 text-gray-300 font-medium" i18n>
            Kitsui & Køni are a duo of French rappers. Together, they have
            released over 30 songs, including 4 EPs, and have recorded more than
            150 tracks along 8 years of activity.
          </p>

          <div class="mt-6 flex flex-wrap gap-4">
            <a
              href="https://www.youtube.com/@kitsuikoni"
              target="_blank"
              rel="noopener noreferrer"
              class="text-yellow-600 hover:text-white font-medium"
              i18n
            >
              YouTube
            </a>
            <a
              href="https://open.spotify.com/artist/0VLddHfsPQHS0N0ed9ktm5?si=AN2wS1y6TpiMtcMg3MMjQA"
              target="_blank"
              rel="noopener noreferrer"
              class="text-yellow-600 hover:text-white font-medium"
              i18n
            >
              Spotify (Kitsui)
            </a>
            <a
              href="https://open.spotify.com/artist/26vzcSCqZAHR7duFOug3zm?si=BDYaQC3HTmiZVu_lJEMWJg"
              target="_blank"
              rel="noopener noreferrer"
              class="text-yellow-600 hover:text-white font-medium"
              i18n
            >
              Spotify (Køni)
            </a>
            <a
              href="https://soundcloud.com/kitsuikoni"
              target="_blank"
              rel="noopener noreferrer"
              class="text-yellow-600 hover:text-white font-medium"
              i18n
            >
              SoundCloud
            </a>
            <a
              href="https://www.instagram.com/kitsui.vcg/"
              target="_blank"
              rel="noopener noreferrer"
              class="text-yellow-600 hover:text-white font-medium"
              i18n
            >
              Instagram (Kitsui)
            </a>
            <a
              href="https://www.instagram.com/k0ni.vcg"
              target="_blank"
              rel="noopener noreferrer"
              class="text-yellow-600 hover:text-white font-medium"
              i18n
            >
              Instagram (Køni)
            </a>
          </div>
        </div>
      </div>

      <div
        class="artist-image relative w-full pt-[56.25%] rounded-lg overflow-hidden"
      >
        <img
          src="/images/artists/kitsuikoni.png"
          alt="Kitsui & Køni"
          class="absolute inset-0 w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</section>

<section class="m-8">
  <div
    class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 bg-black border-white rounded-xl"
  >
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
      <div
        class="artist-image relative w-full pt-[56.25%] rounded-lg overflow-hidden"
      >
        <img
          src="/images/artists/madpoof.png"
          alt="MADPOOF"
          class="absolute inset-0 w-full h-full object-cover"
        />
      </div>
      <div>
        <div class="max-w-lg md:max-w-none">
          <h2 class="text-2xl font-semibold text-white sm:text-3xl" i18n>
            ‼️ MADPOOF
          </h2>

          <p class="mt-4 text-gray-300 font-medium" i18n>
            MADPOOF is a Trap, Drum & Bass and new-age Breakcore producer. He
            has released more than 10 singles already.
          </p>

          <div class="mt-6 flex flex-wrap gap-4">
            <a
              href="https://www.youtube.com/@madpoof-music"
              target="_blank"
              rel="noopener noreferrer"
              class="text-red-600 hover:text-white font-medium"
              i18n
            >
              YouTube
            </a>
            <a
              href="https://open.spotify.com/artist/5MMWP4xWHgpaLUJtgBTXgg?si=kVvWHqp4SHWv1iD_9Wa8ug"
              target="_blank"
              rel="noopener noreferrer"
              class="text-red-600 hover:text-white font-medium"
              i18n
            >
              Spotify
            </a>
            <a
              href="https://soundcloud.com/madpoof"
              target="_blank"
              rel="noopener noreferrer"
              class="text-red-600 hover:text-white font-medium"
              i18n
            >
              SoundCloud
            </a>
            <a
              href="https://www.instagram.com/mad.poof"
              target="_blank"
              rel="noopener noreferrer"
              class="text-red-600 hover:text-white font-medium"
              i18n
            >
              Instagram
            </a>
            <a
              href="https://madpoof.com/links"
              target="_blank"
              rel="noopener noreferrer"
              class="text-red-600 hover:text-white font-medium"
              i18n
            >
              Madpoof.com (more links)
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="m-8">
  <div
    class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 bg-black border-white rounded-xl"
  >
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
      <div
        class="artist-image relative w-full pt-[56.25%] rounded-lg overflow-hidden"
      >
        <img
          src="/images/artists/loupa.jpeg"
          alt="Loupa"
          class="absolute inset-0 w-full h-full object-cover"
        />
      </div>
      <div>
        <div class="max-w-lg md:max-w-none">
          <h2 class="text-2xl font-semibold text-white sm:text-3xl" i18n>
            🐺 Loupa
          </h2>

          <p class="mt-4 text-gray-300 font-medium" i18n>
            Loupa is a French rapper known for his global perspective.
            He travels around the world to work with artists from abroad,
            bringing diverse influences to his music.
          </p>

          <div class="mt-6 flex flex-wrap gap-4">
            <a
              href="https://open.spotify.com/artist/6AyhJFNZkX3a3Gidldg9eh?si=AaS3btx-TbqAT3NeYiv62Q"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-500 hover:text-white font-medium"
              i18n
            >
              Spotify
            </a>
            <a
              href="https://www.instagram.com/loupa__officiel/"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-500 hover:text-white font-medium"
              i18n
            >
              Instagram
            </a>
            <a
              href="https://www.youtube.com/@LoupaOfficiel"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-500 hover:text-white font-medium"
              i18n
            >
              YouTube
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="m-8">
  <div
    class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 bg-black border-white rounded-xl"
  >
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
      <div>
        <div class="max-w-lg md:max-w-none">
          <h2 class="text-2xl font-semibold text-white sm:text-3xl" i18n>
            ☁️ Cl6ud6
          </h2>

          <p class="mt-4 text-gray-300 font-medium" i18n>
            Cl6ud6 is a French rapper who has underground and modern vibes. He
            has collaborated with Køni numerous times.
          </p>

          <div class="mt-6 flex flex-wrap gap-4">
            <a
              href="https://open.spotify.com/artist/3b99lAIuhABJw2lj1IVe8e?si=v5uHoWizQbuLswv-pwoN-A"
              target="_blank"
              rel="noopener noreferrer"
              class="text-green-600 hover:text-white font-medium"
              i18n
            >
              Spotify
            </a>
            <a
              href="https://www.instagram.com/cl6ud6/"
              target="_blank"
              rel="noopener noreferrer"
              class="text-green-600 hover:text-white font-medium"
              i18n
            >
              Instagram
            </a>
            <a
              href="https://www.youtube.com/@Cl6ud6"
              target="_blank"
              rel="noopener noreferrer"
              class="text-green-600 hover:text-white font-medium"
              i18n
            >
              YouTube
            </a>
          </div>
        </div>
      </div>

      <div
        class="artist-image relative w-full pt-[56.25%] rounded-lg overflow-hidden"
      >
        <img
          src="/images/artists/cl6ud6.jpg"
          alt="Cl6ud6"
          class="absolute inset-0 w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</section>

<h2 class="text-2xl font-semibold text-white sm:text-3xl text-center" i18n>
  We collaborated with these artists
</h2>

<section class="m-8">
  <div
    class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 bg-black border-white rounded-xl"
  >
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
      <div>
        <div class="max-w-lg md:max-w-none">
          <h2 class="text-2xl font-semibold text-white sm:text-3xl" i18n>
            ✨ Gaxve
          </h2>

          <p class="mt-4 text-gray-300 font-medium" i18n>
            Gaxve, a producer from Spain, Europe, primarily focused on new-age
            Breakcore, Drum & Bass, and Jungle, collaborated with MADPOOF on the
            tracks "Refresh Token" and "Internal Conflict",
            released via Breakstation.
          </p>

          <div class="mt-6 flex flex-wrap gap-4">
            <a
              href="https://open.spotify.com/artist/1L0bkjAeGfKK7BWscIMWKk?si=xRQIH7BpTzKAgi8YUArHqA"
              target="_blank"
              rel="noopener noreferrer"
              class="text-indigo-600 hover:text-white font-medium"
              i18n
            >
              Spotify
            </a>
            <a
              href="https://www.youtube.com/@gaxve"
              target="_blank"
              rel="noopener noreferrer"
              class="text-indigo-600 hover:text-white font-medium"
              i18n
            >
              YouTube
            </a>
            <a
              href="https://x.com/GaxveMusic"
              target="_blank"
              rel="noopener noreferrer"
              class="text-indigo-600 hover:text-white font-medium"
              i18n
            >
              Twitter
            </a>
            <a
              href="https://www.instagram.com/gaxvemusic/"
              target="_blank"
              rel="noopener noreferrer"
              class="text-indigo-600 hover:text-white font-medium"
              i18n
            >
              Instagram
            </a>
            <a
              href="https://soundcloud.com/gaxve"
              target="_blank"
              rel="noopener noreferrer"
              class="text-indigo-600 hover:text-white font-medium"
              i18n
            >
              SoundCloud
            </a>
          </div>
        </div>
      </div>

      <div
        class="artist-image relative w-full pt-[56.25%] rounded-lg overflow-hidden"
      >
        <img
          src="/images/artists/gaxve.png"
          alt="Gaxve"
          class="absolute inset-0 w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</section>

<section class="m-8">
  <div
    class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 bg-black border-white rounded-xl"
  >
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
      <div
        class="artist-image relative w-full pt-[56.25%] rounded-lg overflow-hidden"
      >
        <img
          src="/images/artists/cxmet.png"
          alt="CXMET"
          class="absolute inset-0 w-full h-full object-cover"
        />
      </div>
      <div>
        <div class="max-w-lg md:max-w-none">
          <h2 class="text-2xl font-semibold text-white sm:text-3xl" i18n>
            💀 CXMET
          </h2>

          <p class="mt-4 text-gray-300 font-medium" i18n>
            CXMET is a phonkwave producer who collaborated with MADPOOF on the
            track "EYES OF HEAVEN", released via Breakstation.
          </p>

          <div class="mt-6 flex flex-wrap gap-4">
            <a
              href="https://open.spotify.com/artist/737y623tgokGcAgc9udQcg?si=UY_E1t9_SdSfrXRJpdgXpg"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-500 hover:text-white font-medium"
              i18n
            >
              Spotify
            </a>
            <a
              href="https://soundcloud.com/cxmet-official"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-500 hover:text-white font-medium"
              i18n
            >
              Soundcloud
            </a>
            <a
              href="https://www.youtube.com/channel/UC-mYBHjcR_XbXQNUvYFj4zA"
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-500 hover:text-white font-medium"
              i18n
            >
              YouTube
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
