<section class="py-14">
  <div class="max-w-screen-xl mx-auto px-4 text-gray-300 md:px-8">
    <div class="max-w-xl space-y-3">
      <p class="text-white text-3xl font-semibold sm:text-4xl" i18n>Services</p>
      <p i18n>
        Explore our services designed for artists and producers: music
        distribution, beatmaking, and professional mixing/recording.
      </p>
    </div>
    <div class="mt-12">
      <ul
        class="grid gap-x-12 divide-y sm:grid-cols-2 sm:gap-y-8 sm:divide-y-0 lg:divide-x lg:grid-cols-3 lg:gap-x-0"
      >
        <!-- Feature 1 -->
        <li class="feature-1 space-y-3 py-8 lg:px-12 sm:py-0">
          <div
            class="w-12 h-12 p-2 border text-blue-600 rounded-full flex items-center justify-center"
          >
            <svg
              width="800px"
              height="800px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.25 16.9999C11.25 16.5857 10.9142 16.2499 10.5 16.2499C10.0858 16.2499 9.75 16.5857 9.75 16.9999C9.75 17.4142 10.0858 17.7499 10.5 17.7499C10.9142 17.7499 11.25 17.4142 11.25 16.9999Z"
                fill="#ffffff"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8.67239 7.54199H15.3276C18.7024 7.54199 20.3898 7.54199 21.3377 8.52882C22.2855 9.51564 22.0625 11.0403 21.6165 14.0895L21.1935 16.9811C20.8437 19.3723 20.6689 20.5679 19.7717 21.2839C18.8745 21.9999 17.5512 21.9999 14.9046 21.9999H9.09534C6.4488 21.9999 5.12553 21.9999 4.22834 21.2839C3.33115 20.5679 3.15626 19.3723 2.80648 16.9811L2.38351 14.0895C1.93748 11.0403 1.71447 9.51565 2.66232 8.52882C3.61017 7.54199 5.29758 7.54199 8.67239 7.54199ZM12.75 10.4999C12.75 10.0857 12.4142 9.74995 12 9.74995C11.5858 9.74995 11.25 10.0857 11.25 10.4999V14.878C11.0154 14.7951 10.763 14.7499 10.5 14.7499C9.25736 14.7499 8.25 15.7573 8.25 16.9999C8.25 18.2426 9.25736 19.2499 10.5 19.2499C11.7426 19.2499 12.75 18.2426 12.75 16.9999V13.3197C13.4202 13.8633 14.2617 14.2499 15 14.2499C15.4142 14.2499 15.75 13.9142 15.75 13.4999C15.75 13.0857 15.4142 12.7499 15 12.7499C14.6946 12.7499 14.1145 12.5313 13.5835 12.0602C13.0654 11.6006 12.75 11.0386 12.75 10.4999Z"
                fill="#ffffff"
              />
            </svg>
          </div>
          <h4 class="text-lg text-blue-600 font-semibold" i18n>
            Music Distribution
          </h4>
          <p i18n>
            Flexible solutions for artists to share their music globally on
            streaming and download platforms.
          </p>
        </li>
        <!-- Feature 2 -->
        <li class="feature-2 space-y-3 py-8 lg:px-12 sm:py-0">
          <div
            class="w-12 h-12 border text-blue-600 rounded-full flex items-center justify-center"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M22 21C23.1046 21 24 20.1046 24 19V5C24 3.89543 23.1046 3 22 3H3C1.89543 3 1 3.89543 1 5V19C1 20.1046 1.89543 21 3 21H22ZM11 5H8.98486V13H7.98511V19H12V13H11V5ZM18.0151 19H22V5H19.0151V13H18.0151V19ZM17.0151 13H16.0151V5H14V13H13V19H17.0151V13ZM6.98511 19V13H5.98486V5H3L3 19H6.98511Z"
                fill="#ffffff"
              />
            </svg>
          </div>
          <h4 class="text-lg text-blue-600 font-semibold" i18n>Beatmaking</h4>
          <p i18n>
            Join our beatmaker network and get your productions promoted on
            YouTube and selling platforms.
          </p>
        </li>
        <!-- Feature 3 -->
        <li class="feature-3 space-y-3 py-8 lg:px-12 sm:py-0">
          <div
            class="w-12 h-12 p-2 border text-blue-600 rounded-full flex items-center justify-center"
          >
            <svg
              version="1.0"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="800px"
              height="800px"
              viewBox="0 0 64 64"
              enable-background="new 0 0 64 64"
              xml:space="preserve"
            >
              <g>
                <path
                  fill="#ffffff"
                  d="M32,48c7.732,0,14-6.268,14-14v-3h-7c-0.553,0-1-0.447-1-1s0.447-1,1-1h7v-4h-7c-0.553,0-1-0.447-1-1
             s0.447-1,1-1h7v-4h-7c-0.553,0-1-0.447-1-1s0.447-1,1-1h7v-3c0-7.732-6.268-14-14-14S18,6.268,18,14v3h7c0.553,0,1,0.447,1,1
             s-0.447,1-1,1h-7v4h7c0.553,0,1,0.447,1,1s-0.447,1-1,1h-7v4h7c0.553,0,1,0.447,1,1s-0.447,1-1,1h-7v3C18,41.732,24.268,48,32,48z"
                />
              </g>
            </svg>
          </div>
          <h4 class="text-lg text-blue-600 font-semibold" i18n>
            Mixing/Recording
          </h4>
          <p i18n>
            Quality services in hip-hop/rap music recording and/or mixing in our
            studios in Haute-Savoie, France.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="py-14">
  <div class="max-w-screen-xl mx-auto md:px-8">
    <div class="grid gap-8 sm:px-4 md:px-0 lg:grid-cols-2 items-center">
      <div
        class="service-image relative rounded-lg overflow-hidden bg-no-repeat bg-center"
      >
        <div class="aspect-w-16 aspect-h-9">
          <img
            src="/images/services/distribution.png"
            class="w-full h-full object-cover"
            alt="Music Distribution"
            i18n-alt="Music Distribution"
          />
        </div>
      </div>

      <div class="max-w-xl px-4 space-y-3 sm:px-0 lg:max-w-2xl">
        <h3 class="text-blue-600 font-semibold" i18n>📤 VCG Distribution</h3>
        <p class="text-white text-3xl font-semibold sm:text-4xl" i18n>
          Music Distribution Services
        </p>
        <p class="mt-3 text-gray-300" i18n>
          We help emerging artists distribute their music on all major streaming
          and download platforms. We offer two flexible options: a pay-as-you-go
          plan, where artists pay a flat fee per single or project (up to 12
          releases per year), or an unlimited monthly subscription allowing
          unlimited releases. Subscription artists become part of the VCG family
          and are showcased on our website.
        </p>
        <a
          routerLink="/getintouch"
          class="inline-flex gap-x-1 items-center text-blue-600 hover:text-indigo-500 duration-150 font-medium"
          i18n
        >
          Get your music distributed!
        </a>
      </div>
    </div>
  </div>
</section>

<section class="py-14">
  <div class="max-w-screen-xl mx-auto md:px-8">
    <div class="grid gap-8 sm:px-4 md:px-0 lg:grid-cols-2 items-center">
      <div
        class="service-image relative rounded-lg overflow-hidden bg-no-repeat bg-center"
      >
        <div class="aspect-w-16 aspect-h-9">
          <img
            src="/images/services/production.png"
            class="w-full h-full object-cover"
            alt="Beatmaking Services"
            i18n-alt="Beatmaking Services"
          />
        </div>
      </div>

      <div class="max-w-xl px-4 space-y-3 sm:px-0 lg:max-w-2xl">
        <h3 class="text-blue-600 font-semibold" i18n>🎹 VCG Production</h3>
        <p class="text-white text-3xl font-semibold sm:text-4xl" i18n>
          Beatmaker Team
        </p>
        <p class="mt-3 text-gray-300" i18n>
          Beatmakers can distribute their work through our network, on platforms
          like BeatStars, and also on our YouTube channel, at no cost. Join our
          growing community and have your profile showcased on the VCG website.
          It is also an opportunity to connect to our artists and producers
          network. Our goal is to federate a strong community of beatmakers.
        </p>
        <a
          routerLink="/getintouch"
          class="inline-flex gap-x-1 items-center text-blue-600 hover:text-indigo-500 duration-150 font-medium"
          i18n
        >
          Join our beatmakers!
        </a>
      </div>
    </div>
  </div>
</section>

<section class="py-14">
  <div class="max-w-screen-xl mx-auto md:px-8">
    <div class="grid gap-8 sm:px-4 md:px-0 lg:grid-cols-2 items-center">
      <div
        class="service-image relative rounded-lg overflow-hidden bg-no-repeat bg-center"
      >
        <div class="aspect-w-16 aspect-h-9">
          <img
            src="/images/services/studio.png"
            class="w-full h-full object-cover"
            alt="Studio Services"
            i18n-alt="Studio Services"
          />
        </div>
      </div>

      <div class="max-w-xl px-4 space-y-3 sm:px-0 lg:max-w-2xl">
        <h3 class="text-blue-600 font-semibold" i18n>🎙 VCG Studio</h3>
        <p class="text-white text-3xl font-semibold sm:text-4xl" i18n>
          Mixing and Recording Services
        </p>
        <p class="mt-3 text-gray-300" i18n>
          We offer quality recording and mixing services specializing in
          hip-hop/rap music, with plans to expand to other genres. Based in
          Haute-Savoie, France, we operate amateur studios. Artists can utilize
          our services independently or combine them with distribution for
          maximum reach. We plan to invest in a professional studio in the
          future.
        </p>
        <a
          routerLink="/getintouch"
          class="inline-flex gap-x-1 items-center text-blue-600 hover:text-indigo-500 duration-150 font-medium"
          i18n
        >
          Book a studio session!
        </a>
      </div>
    </div>
  </div>
</section>
