# Enable Rewrite Engine
RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^vcgrecordz\.eu$ [NC]
RewriteCond %{REQUEST_URI} ^/$
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^$ https://vcgrecordz.eu/fr/ [R=302,L]

RewriteCond %{HTTP_HOST} ^vcgrecordz\.eu$ [NC]
RewriteCond %{REQUEST_URI} ^/$
RewriteCond %{HTTP:Accept-Language} !^fr [NC]
RewriteRule ^$ https://vcgrecordz.eu/en/ [R=302,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]

