<h2 class="text-2xl font-semibold text-white sm:text-3xl text-center">
  We distribute these artists' music
</h2>

<section class="m-8">
  <div
    class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 bg-black rounded-xl"
  >
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
      <div>
        <div class="max-w-lg md:max-w-none">
          <h2 class="text-2xl font-semibold text-white sm:text-3xl">
            Kitsui & Køni
          </h2>

          <p class="mt-4 text-gray-300 font-medium">
            Kitsui & Køni are a duo of french rappers. They have released more
            than 30 songs together, including 4 EPs.
          </p>
        </div>
      </div>

      <div
        class="artist-image relative w-full pt-[56.25%] rounded-lg overflow-hidden"
      >
        <img
          src="/images/artists/kitsuikoni.png"
          alt="Kitsui & Køni"
          class="absolute inset-0 w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</section>

<section class="m-8">
  <div
    class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 bg-black border-white rounded-xl"
  >
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
       <div
        class="artist-image relative w-full pt-[56.25%] rounded-lg overflow-hidden"
      >
        <img
          src="/images/artists/madpoof.png"
          alt="MADPOOF"
          class="absolute inset-0 w-full h-full object-cover"
        />" />
      </div>
      <div>
        <div class="max-w-lg md:max-w-none">
          <h2 class="text-2xl font-semibold text-white sm:text-3xl">
            MADPOOF
          </h2>

          <p class="mt-4 text-gray-300 font-medium">
            MADPOOF is a drum & bass and breakcore producer. He has released
            more than 10 singles already.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<h2 class="text-2xl font-semibold text-white sm:text-3xl text-center">
  We collaborated with these artists
</h2>

<section class="m-8">
  <div
    class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 bg-black border-white rounded-xl"
  >
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
      <div>
        <div class="max-w-lg md:max-w-none">
          <h2 class="text-2xl font-semibold text-white sm:text-3xl">
            Cl6ud6
          </h2>

          <p class="mt-4 text-gray-300 font-medium">
            Cl6ud6 is a french rapper who has worked with us Køni many times.
          </p>
        </div>
      </div>

       <div
        class="artist-image relative w-full pt-[56.25%] rounded-lg overflow-hidden"
      >
        <img
          src="/images/artists/cl6ud6.jpg"
          alt="Cl6ud6"
          class="absolute inset-0 w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</section>

<section class="m-8">
  <div
    class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 bg-black border-white rounded-xl"
  >
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
       <div
        class="artist-image relative w-full pt-[56.25%] rounded-lg overflow-hidden"
      >
        <img
          src="/images/artists/loupa.jpeg"
          alt="Loupa"
          class="absolute inset-0 w-full h-full object-cover"
        />
      </div>
      <div>
        <div class="max-w-lg md:max-w-none">
          <h2 class="text-2xl font-semibold text-white sm:text-3xl">
            Loupa
          </h2>

          <p class="mt-4 text-gray-300 font-medium">
            Loupa is a french rapper who has worked with us Køni many times.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="m-8">
  <div
    class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 bg-black border-white rounded-xl"
  >
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
      <div>
        <div class="max-w-lg md:max-w-none">
          <h2 class="text-2xl font-semibold text-white sm:text-3xl">
            Gaxve
          </h2>

          <p class="mt-4 text-gray-300 font-medium">
            Gaxve is a breakcore producer and has collaborated with MADPOOF.
          </p>
        </div>
      </div>

       <div
        class="artist-image relative w-full pt-[56.25%] rounded-lg overflow-hidden"
      >
        <img
          src="/images/artists/gaxve.png"
          alt="Gaxve"
          class="absolute inset-0 w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</section>

<section class="m-8">
  <div
    class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 bg-black border-white rounded-xl"
  >
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
       <div
        class="artist-image relative w-full pt-[56.25%] rounded-lg overflow-hidden"
      >
        <img
          src="/images/artists/cxmet.png"
          alt="CXMET"
          class="absolute inset-0 w-full h-full object-cover"
        />
      </div>
      <div>
        <div class="max-w-lg md:max-w-none">
          <h2 class="text-2xl font-semibold text-white sm:text-3xl">
            CXMET
          </h2>

          <p class="mt-4 text-gray-300 font-medium">
            CXMET is a phonkwave producer and has collaborated with MADPOOF.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
